
.flashBox グループを作成しました。
.contents
  .contents-side
    .header
      %p.userName 
        = current_user.name 
      %ul.userMenu
        %li.userMenu__editUser
          =link_to "https://www.sample.com/", class: "Contents__btn" do
            = fa_icon 'edit'
        %li.userMenu__newGroup
          =link_to edit_user_path(current_user), class: "Contents__btn" do
            = fa_icon 'cog'
    .groups  
      .group
        %p.group__groupName  グループ
        %p.group__latestMessage  こんにちは
      .group
        %p.group__groupName  グループ２
        %p.group__latestMessage  ２番手
  .contents-main
    .header
      .currentGroup
        .currentGroup__name test_group
        %ul.memberList 
          %li.memberList__member Member:tomo
      .edit-btn 
        =link_to  "https://www.sample.com/", class: "btn" do
          Edit
    .messages
      .message
        .message__info
          %p.message__info__user test-user
          %p.message__info__date  2019/05/25(Sat)
        .message__text   こんにちは
        .message__info
          %p.message__info__user user1
          %p.message__info__date  2019/05/25(Sat)
        .message__text   おかえり  
    %form(action=""class="form")
      .newMessage
        %input(type="text" placeholder="メッセージをお書きください" class="inputBox")
          .inputBox__imageLabel
            =link_to "https://www.sample.com/", class: "Contents__btn" do
              = fa_icon 'image'
        .newMessage__btn 
          %input(type="submit" value="SEND" class="btn")
        
      