.flash-box
.contents
  .contents-side
    .side-header
      %p.side-header__user-name test     
    .contents-side__groups
       %ul.user-menu
         %li.user-menu__edit-user
         %li.user-menu__new-groups
  .contents-main
    .contents-main__header
    .contents-main__messages
    .contents-main__from