.flash-box
.contents
  .contents-side
    .header
      %p.userName test  
      %ul.userMenu
        %li.userMenu__editUser
        %li.userMenu__newGroup
    .groups
      .group
        %p.group__groupName  グループ
        %p.group__latestMessage  こんにちは
  .contents-main
    .header
      .currentGroup
        .currentGroup__name 
        %ul.memberList 
          %li.memberList__member tomo
      .edit-btn
    .messages
      .message
        .message__info
          %p.message__info__user test
          %p.message__info__date  2019/05/25
        .message__text
    .form
      .newMessage
        %input(type="text" placeholder="メッセージをお書きください" class="inputBox")
          .inputBox__image-label
        .newMessage__btn
        
      