.contents-main{
  
  .header{
      padding:0px 40px 0px;
    border-bottom:solid 1px #eeeeee;
    .currentGroup{
      padding-top:35px;
      &__name{
        font-size:20px;
        color:$black;
        padding-bottom:15px;
        position:relative;
      }
      .membetList__member{
      font-size:12px;
      color:$grey;
      }
    
     
    }
    .edit-btn {
      height:40px;
      line-height:40px;
      padding:0 20px;
      color:skyblue;
      border:solid 2px skyblue;
      position:absolute;
      right:40px;
      }
  }
  .messages{
    background-color:#fafafa;
    padding:0px 40px;
    
    .message{
      padding-top:46px;
      &__info{
        display:flex;
      
        &__user{
         @include user(16px,$black);
         padding-bottom:15px;
        }
        &__date{
          @include date;
          
        }
      }
      &__text{
        padding:10px 0px 40px;
        
      }
    }
    
  }

  .form{
    background-color:#ddd;
    padding:20px 40px;
      height:50px;
      .newMessage{
        display:flex;
        .inputBox{
          height:50px;
        }
          &__imageLabel{

          }
        &__btn{
          color:$white;
          padding:0px 30px;
          background-color:$skyblue;
          line-height:50px;
          margin-left:15px;

        }  
      }
  }
  
}