@import "./reset";
@import "./variable";
@import "font-awesome";
@import "modules/user";
@import "mixins/mixin";
@import "./contents-side";
@import "contents-main";
@import "config/colors";
@import "modules/flash";
@import "modules/group";


// layout
.flashBox{
  font-size: 12px;
  text-align:center;
  color:$white;
  background:$skyblue;
}

//flashbox
.contents{
width:100%;
height:100%;
display:flex;
}
